<p>pipe works!</p>
<p>{{name | uppercase}}</p>
<p>{{name | titlecase}}</p>
<p>{{name | lowercase}}</p>


<p>{{date | date}}</p>
<p>{{date | date:'fullDate'}}</p>

<p>{{date | date:'mm:hh:ss'}}</p>

<p>{{amount  | currency}}</p>
<p>{{amount  | currency:'INR'}}</p>

<!-- apply mutiple pipe -->

<p>{{date  | date:'fullDate'  | uppercase}}</p>

<!-- @InputDecorators Start hera plz Carefully -->
<app-inputdecorators [name]="fullName"></app-inputdecorators>
<app-button [ButtonName]="buttonName"></app-button>
